.add{
    width: 70%;
    margin-left: max(5vw,100px);
    margin-top: 20px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form{
    gap: 20px;

}

.add-img-upload img{
    width: 120px;
    cursor: pointer;
}

.ui{
    width: 100px; 
    height: 100px;
    cursor: pointer;
}

.add-product-name,.add-product-description{
    width: max(40%,280px);
}

.add-product-name input,.add-product-description textarea{
    padding: 10px;
}

.add-category-price{
   display: flex;
    gap: 30px;
}

.add-category-price select,.add-category-price input{
    max-width: 120px;
    padding: 10px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.add-btn:hover {
    background-color: rgb(6, 66, 82); /* Change background color on hover */
}


